<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <img src="/img/logo.png" alt="인제대학교 로고" >
        {{{_sections.head}}}
    </head>
    <body>
        {{{body}}}
        {{{_sections.scripts}}}
    </body>
</html>