<h1>환영합니다.</h1>

<p>쿠키와 세션을 활용하는 홈페이지 입니다.</p>
<p><a href="/about">링크</a>를 클릭하세요.</p>
<p>Cookie 값 : {{cookieValue}}</p>
<p>Signed Cookie 값 : {{signedCookieValue}}</p>
{{#if visitNumber}}
<p>{{visitNumber}}번 째 방문을 환영합니다.</p>
{{/if}}