<h1>환영합니다! 6장 예제 사이트 입니다.</h1>
<form action="/process-contact" method="POST">
  <label for="name">name:</label><br>
  <input type="text" id="name" name="name" value="이름"><br>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email" value="abc@abc.com"><br><br>
  <input type="submit" value="Submit">
</form> 